* {
    font-family: 'Grenze';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    background-size: cover;
    background-position: center;
}

header {
    position: relative;
    width: 100%;
    padding: 5px 50px;
    height: 100px;
    background: #D8D8D8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.glowing-beam {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(54, 208, 255, 0.4), transparent);
}

.navigation ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    float: left;
}

.navigation ul li {
    margin: 0 20px 0 20px;
}

.navigation ul li a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    position: relative;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1.5px;
    background: #3bbedf;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 200ms ease-in-out;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.logo {
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: translateX(-50%) scale(1.1);
}

.login-button {
    position: relative;
    font-size: 16px;
    font-weight: 900;
    color: black;
    text-decoration: none;
    margin-left: 40px;
    width: 150px;
    height: 40px;
    background: #EFEFEF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 200ms;
}

.login-button:hover {
    background: #3bbedf;
}

.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 440px;
    background: transparent;
    backdrop-filter: saturate(150%) blur(50px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 500ms ease, height 200ms ease;
}

.wrapper.active-popup {
    transform: translate(-50%, -50%) scale(1);
}

.wrapper.active {
    height: 500px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform 180ms ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform 180ms ease;
    transform: translateX(0);
}

.wrapper .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 32px;
    font-weight: 900;
    color: black;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: black;
    font-weight: 200;
    pointer-events: none;
}

.input-box input:focus~label, .input-box input:valid~label {
    visibility: hidden;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 18px;
    font-weight: 200;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 16px;
    color: black;
    line-height: 57px;
}

.remember-forgot {
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #26B9B7;
    margin-right: 3px;
}

.remember-forgot a {
    color: black;
    font-size: 14px;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 40px;
    background: #EFEFEF;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    color: black;
}

.login-register {
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin: 25px 0 10px;
    text-align: center;
}

.login-register p a {
    color: black;
    font-weight: 400;
    text-decoration: none;
}

.login-register p a:hover {
    text-decoration: underline;
}

.section-1 {
    background: #D8D8D8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 225px;
}

.text h2 {
    font-size: 70px;
    font-weight: 900;
}

.text p {
    font-size: 24px;
    font-weight: 200;
    margin-top: 50px;
}

.learn-more-btn {
    align-self: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    width: 220px;
    height: 70px;
    background: black;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    transition: 200ms;
    margin-top: 100px;
}
.learn-more-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

.wyvrn-image {
    display: flex;
    align-items: center;
    padding: 50px;
}
.wyvrn-image img {
    width: 600px;
    height: 600px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.section-2 {
    background: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-2 h2 {
    font-size: 70px;
    font-weight: 900;
    margin: 50px 0 80px 0;
}

.product-sinippet {
    display: flex;
    flex-direction: row;
}

.product1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product1 img {
    width: 200px;
    height: auto;
}

.product1 p {
    width: 150px;
    height: auto;
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    margin-top: 20px;
}

.product2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 200px 0 200px;
}

.product2 img {
    width: 300px;
    height: auto;
}

.product2 p {
    width: 300px;
    height: auto;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    margin-top: 20px;
}

.product3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product3 img {
    width: 200px;
    height: auto;
    padding: 40px;
}

.product3 p {
    width: 200px;
    height: auto;
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    margin-top: 20px;
}

.shop-now-btn {
    width: 220px;
    height: 70px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background: black;
    border: none;
    border-radius: 200px;
    text-decoration: none;
    cursor: pointer;
    transition: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0;
}
.shop-now-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

.section-3 {
    background: #D8D8D8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-3 h2 {
    font-size: 70px;
    font-weight: 900;
    margin: 50px 0 50px 0;
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.instagram {
    text-align: center;
    margin: 0 80px 0 80px;
}

.instagram img {
    width: 125px;
    height: auto;
}

.instagram p {
    font-size: 25px;
    font-weight: 200;
}

.youtube {
    text-align: center;
    margin: 0 80px 0 80px;
}

.youtube img {
    width: 125px;
    height: auto;
}

.youtube p {
    font-size: 25px;
    font-weight: 200;
}

.soundcloud {
    text-align: center;
    margin: 0 80px 0 80px;
}

.soundcloud img {
    width: 125px;
    height: auto;
}

.soundcloud p {
    font-size: 25px;
    font-weight: 200;
}

.discord {
    text-align: center;
    margin: 0 80px 0 80px;
}

.discord img {
    width: 125px;
    height: auto;
}

.discord p {
    font-size: 25px;
    font-weight: 200;
}

.footer {
    background-color: #EFEFEF;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer h1 {
    font-weight: 900;
    font-size: 40px;
    margin:20px 0 20px 0;
}

.footer-sections {
    display: flex;
    justify-content: space-between;
}

.hours {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
    margin: 0 100px 20px 100px;
}

.hours h2 {
    font-weight: 800;
    font-size: 20px;
}

.hours p {
    font-weight: 200;
    font-size: 18px;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
    margin: 0 100px 20px 100px;
}

.contact h2 {
    font-weight: 800;
    font-size: 20px;
}

.contact p {
    font-weight: 200;
    font-size: 18px;
    user-select: all;
    
}